@import "./variables.css";

.blogs_list_wrapper header{
    border-bottom: 1px solid #f1f4f8 ;
    font-size: 2rem;
    margin: 0 0 1rem;
    border-bottom-width: 4px;
    padding-bottom: .5rem;
    font-weight: 500;
}
.blog_name_wrapper{
    padding: .75rem 1rem;
}
.blog_name_wrapper span{
    margin: 0px 20px;
}
.blog_name_wrapper a{
    display: flex;
    flex-wrap: wrap;
}
.blog_name_wrapper:hover{
    background-color: #f1f4f8;
    cursor: pointer;
}
.blog_body h4 {
    padding: 10px 0px;
    margin: 10px 0px;
    border-bottom: 2px solid var(--light-background)    ;
}
.date-wrapper{
    width: 10rem;
}