.intro{
    margin-bottom: 2rem;
    line-height: 1.7;
    letter-spacing: 2px;
}
.intro h2{
    font-size: 3rem;
    margin: 2rem 0;
}
.intro div{
    margin: 1rem 0;
}
.intro button{
    font-size: 20px;
}