@import "./variables.css";

.navbar{
    border-bottom: 1px solid #f4f4f4;
}

.navbar .brand{
    font-size: 1.3rem;
    margin-right: 3rem;
    border: none;
    background: transparent!important;
    color: #fff !important;
    font-weight: 500;
}
.navbar a{
    padding: .75rem 1.25rem;
    margin: 0 .25rem;
    font-weight: 400;
    color: #fff;
}